<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <location>/index</location>
    </error-page>
    <servlet>
        <servlet-name>Usernames</servlet-name>
        <servlet-class>view.UsernamesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Players</servlet-name>
        <jsp-file>/jsp/Players.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CreatePlayerServlet</servlet-name>
        <servlet-class>view.CreatePlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlayerServlet</servlet-name>
        <servlet-class>view.UpdatePlayerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>view.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUsernameServlet</servlet-name>
        <servlet-class>view.CreateUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUsernameServlet</servlet-name>
        <servlet-class>view.DeleteUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUsernameServlet</servlet-name>
        <servlet-class>view.UpdateUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUsernameServlet</servlet-name>
        <servlet-class>view.SearchUsernameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsernamesServlet</servlet-name>
        <servlet-class>view.UsernamesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Scores</servlet-name>
        <servlet-class>view.ScoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateScoreServlet</servlet-name>
        <servlet-class>view.CreateScoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Usernames</servlet-name>
        <url-pattern>/Usernames</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Players</servlet-name>
        <url-pattern>/Players</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePlayerServlet</servlet-name>
        <url-pattern>/CreatePlayerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlayerServlet</servlet-name>
        <url-pattern>/UpdatePlayerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUsernameServlet</servlet-name>
        <url-pattern>/CreateUsernameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUsernameServlet</servlet-name>
        <url-pattern>/DeleteUsernameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUsernameServlet</servlet-name>
        <url-pattern>/UpdateUsernameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUsernameServlet</servlet-name>
        <url-pattern>/SearchUsernameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsernamesServlet</servlet-name>
        <url-pattern>/UsernamesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Scores</servlet-name>
        <url-pattern>/Scores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateScoreServlet</servlet-name>
        <url-pattern>/CreateScoreServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>ScoreDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>persistence/em</persistence-context-ref-name>
        <persistence-unit-name>JPA-Tomcat-ScoreDB</persistence-unit-name>
    </persistence-context-ref>
</web-app>
